# CONFIG_HW_RANDOM is not set
# CONFIG_IPV6 is not set
# CONFIG_ARM_PMU is not set
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
# CONFIG_BLK_DEBUG_FS is not set
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CMA=y
CONFIG_CMA_AREAS=19
CONFIG_COMMON_CLK_XGENE=y
CONFIG_CRC7=y
CONFIG_CRC8=y
CONFIG_CRC_CCITT=y
CONFIG_CRC_ITU_T=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_CRYPTO_LZO=y
CONFIG_CRYPTO_RSA=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_DMA_CMA=y
CONFIG_DNS_RESOLVER=y
CONFIG_DYNAMIC_DEBUG=y
# CONFIG_EFI is not set
# CONFIG_ETHTOOL_NETLINK is not set
CONFIG_EXT4_FS=y
CONFIG_FAILOVER=y
# CONFIG_GCC_PLUGINS is not set
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_GENERIC_PHY=y
# CONFIG_HID_SUPPORT is not set
CONFIG_HOTPLUG_CPU=y
# CONFIG_HWMON is not set
CONFIG_I2C_ALGOBIT=y
# CONFIG_I2C_COMPAT is not set
# CONFIG_I2C_HELPER_AUTO is not set
CONFIG_I2C_STM32F7=y
CONFIG_I3C=y
CONFIG_INDIRECT_PIO=y
CONFIG_INET=y
# CONFIG_INET_DIAG is not set
CONFIG_INPUT_FF_MEMLESS=y
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_IOMMU_SUPPORT is not set
CONFIG_IRQ_POLL=y
CONFIG_KEYS=y
CONFIG_KPROBES=y
CONFIG_MAILBOX=y
CONFIG_MAILBOX_CDEV=y
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_MMC_CQHCI=y
CONFIG_MODVERSIONS=y
# CONFIG_NETWORK_FILESYSTEMS is not set
CONFIG_NR_CPUS=2
CONFIG_OF_OVERLAY=y
CONFIG_PACKING=y
CONFIG_PAGE_REPORTING=y
# CONFIG_PCPU_DEV_REFCNT is not set
# CONFIG_PINCTRL_STM32MP215 is not set
# CONFIG_PINCTRL_STM32MP235 is not set
# CONFIG_PINCTRL_STM32_HDP is not set
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_PPS=y
CONFIG_REGULATOR=y
# CONFIG_RESET_SCMI is not set
CONFIG_SCMI_STM32MP_OSTL_V5=y
CONFIG_SCSI=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SECURITYFS=y
# CONFIG_SERIO is not set
CONFIG_SPI_MEM=y
CONFIG_STM=y
# CONFIG_STM32MP_EXTI is not set
# CONFIG_STM32_DDR_PMU is not set
CONFIG_STM32_DMA3=y
CONFIG_STM32_IPCC=y
# CONFIG_STM32_RISAB is not set
# CONFIG_STM32_RISAF is not set
# CONFIG_STRICT_DEVMEM is not set
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_SUSPEND is not set
CONFIG_SYNC_FILE=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_THERMAL=y
CONFIG_TMPFS=y
CONFIG_UNIX=y
# CONFIG_USB_SUPPORT is not set
# CONFIG_VHOST_MENU is not set
# CONFIG_VIRTIO_MENU is not set
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_FW_LOADER=n
CONFIG_FW_LOADER_DEBUG=n
CONFIG_CDNS_I3C_MASTER=n
CONFIG_SENSORS_LIS3_SPI=n
CONFIG_I2C_ALGOPCF=n
CONFIG_I2C_ALGOPCA=n
CONFIG_DW_I3C_MASTER=n
CONFIG_STM32_I3C_MASTER=n
CONFIG_SVC_I3C_MASTER=n
CONFIG_MIPI_I3C_HCI=n
CONFIG_DEBUG_CGROUP_REF=n
CONFIG_FUNCTION_ERROR_INJECTION=n
CONFIG_TEST_DYNAMIC_DEBUG=n
CONFIG_CPU_FREQ_GOV_POWERSAVE=n
CONFIG_CPU_FREQ_GOV_CONSERVATIVE=n
CONFIG_ARM_ALLWINNER_SUN50I_CPUFREQ_NVMEM=n
CONFIG_ARM_IMX_CPUFREQ_DT=n
CONFIG_ARM_MEDIATEK_CPUFREQ_HW=n
CONFIG_ARM_RASPBERRYPI_CPUFREQ=n
CONFIG_BRIDGE_NETFILTER=n
CONFIG_NF_CONNTRACK=n
CONFIG_NF_LOG_SYSLOG=n
CONFIG_NF_NAT=n
CONFIG_NETFILTER_XTABLES=n
CONFIG_NETFILTER_XT_MARK=n
CONFIG_NETFILTER_XT_TARGET_CHECKSUM=n
CONFIG_NETFILTER_XT_TARGET_LOG=n
CONFIG_NETFILTER_XT_NAT=n
CONFIG_NETFILTER_XT_TARGET_MASQUERADE=n
CONFIG_NETFILTER_XT_MATCH_ADDRTYPE=n
CONFIG_NETFILTER_XT_MATCH_CONNTRACK=n
CONFIG_NETFILTER_XT_MATCH_IPVS=n
CONFIG_IP_VS=n
CONFIG_NF_DEFRAG_IPV4=n
CONFIG_NF_REJECT_IPV4=n
CONFIG_IP_NF_IPTABLES=n
CONFIG_IP_NF_FILTER=n
CONFIG_IP_NF_TARGET_REJECT=n
CONFIG_IP_NF_NAT=n
CONFIG_IP_NF_TARGET_MASQUERADE=n
CONFIG_IP_NF_MANGLE=n
CONFIG_STP=n
CONFIG_GARP=n
CONFIG_MRP=n
CONFIG_BRIDGE=n
CONFIG_NET_DSA=n
CONFIG_NET_DSA_TAG_NONE=n
CONFIG_NET_DSA_TAG_BRCM_COMMON=n
CONFIG_NET_DSA_TAG_BRCM=n
CONFIG_NET_DSA_TAG_BRCM_LEGACY=n
CONFIG_NET_DSA_TAG_BRCM_PREPEND=n
CONFIG_NET_DSA_TAG_OCELOT=n
CONFIG_NET_DSA_TAG_OCELOT_8021Q=n
CONFIG_VLAN_8021Q=n
CONFIG_LLC=n
CONFIG_NET_SCH_CBS=n
CONFIG_NET_SCH_ETF=n
CONFIG_NET_SCH_MQPRIO_LIB=n
CONFIG_NET_SCH_TAPRIO=n
CONFIG_NET_SCH_MQPRIO=n
CONFIG_NET_SCH_INGRESS=n
CONFIG_NET_CLS_BASIC=n
CONFIG_NET_CLS_FLOWER=n
CONFIG_NET_ACT_GACT=n
CONFIG_NET_ACT_MIRRED=n
CONFIG_NET_ACT_GATE=n
CONFIG_QRTR=n
CONFIG_QRTR_SMD=n
CONFIG_QRTR_TUN=n
CONFIG_QRTR_MHI=n
CONFIG_CAN=n
CONFIG_CAN_RAW=n
CONFIG_CAN_BCM=n
CONFIG_CAN_GW=n
CONFIG_BT=n
CONFIG_BT_BCM=n
CONFIG_BT_QCA=n
CONFIG_BT_HCIUART=n
CONFIG_BT_MRVL=n
CONFIG_BT_MRVL_SDIO=n
CONFIG_BT_QCOMSMD=n
CONFIG_BT_HCIRSI=n
CONFIG_BT_NXPUART=n
CONFIG_CFG80211=n
CONFIG_MAC80211=n
CONFIG_RFKILL=n
CONFIG_NFC=n
CONFIG_NFC_NCI=n
CONFIG_NFC_S3FWRN5=n
CONFIG_NFC_S3FWRN5_I2C=n
CONFIG_PCIE_BRCMSTB=n
CONFIG_PCIE_MEDIATEK_GEN3=n
CONFIG_PCIE_ROCKCHIP_HOST=n
CONFIG_PCI_MESON=n
CONFIG_PCIE_TEGRA194=n
CONFIG_PCIE_TEGRA194_HOST=n
CONFIG_PCI_EPF_TEST=n
CONFIG_REGMAP_SLIMBUS=n
CONFIG_REGMAP_SOUNDWIRE=n
CONFIG_REGMAP_I3C=n
CONFIG_TEGRA_ACONNECT=n
CONFIG_MHI_BUS=n
CONFIG_MHI_BUS_PCI_GENERIC=n
CONFIG_INTEL_STRATIX10_RSU=n
CONFIG_GNSS=n
CONFIG_GNSS_SERIAL=n
CONFIG_GNSS_MTK_SERIAL=n
CONFIG_MTD_NAND_BRCMNAND=n
CONFIG_MTD_NAND_BRCMNAND_BCMBCA=n
CONFIG_MTD_NAND_BRCMNAND_BRCMSTB=n
CONFIG_MTD_NAND_BRCMNAND_IPROC=n
CONFIG_MTD_UBI=n
CONFIG_BLK_DEV_NBD=n
CONFIG_NVME_CORE=n
CONFIG_BLK_DEV_NVME=n
CONFIG_QCOM_COINCELL=n
CONFIG_QCOM_FASTRPC=n
CONFIG_PCI_ENDPOINT_TEST=n
CONFIG_EEPROM_AT24=n
CONFIG_EEPROM_AT25=n
CONFIG_UACCE=n
CONFIG_RAID_ATTRS=n
CONFIG_SCSI_MPT3SAS=n
CONFIG_AHCI_BRCM=n
CONFIG_AHCI_DWC=n
CONFIG_BLK_DEV_MD=n
CONFIG_BLK_DEV_DM=n
CONFIG_DM_MIRROR=n
CONFIG_DM_ZERO=n
CONFIG_MACVLAN=n
CONFIG_MACVTAP=n
CONFIG_TAP=n
CONFIG_VETH=n
CONFIG_MHI_NET=n
CONFIG_B53=n
CONFIG_B53_SRAB_DRIVER=n
CONFIG_NET_DSA_BCM_SF2=n
CONFIG_NET_DSA_MSCC_FELIX_DSA_LIB=n
CONFIG_NET_DSA_MSCC_FELIX=n
CONFIG_MDIO=n
CONFIG_ATL1C=n
CONFIG_BCMGENET=n
CONFIG_BNX2X=n
CONFIG_SYSTEMPORT=n
CONFIG_MLX4_EN=n
CONFIG_MLX4_CORE=n
CONFIG_MLX5_CORE=n
CONFIG_MSCC_OCELOT_SWITCH_LIB=n
CONFIG_QCOM_EMAC=n
CONFIG_RMNET=n
CONFIG_R8169=n
CONFIG_STMMAC_ETH=n
CONFIG_STMMAC_PLATFORM=n
CONFIG_DWMAC_GENERIC=n
CONFIG_DWMAC_IPQ806X=n
CONFIG_DWMAC_MESON=n
CONFIG_DWMAC_QCOM_ETHQOS=n
CONFIG_DWMAC_ROCKCHIP=n
CONFIG_DWMAC_SOCFPGA=n
CONFIG_DWMAC_STM32=n
CONFIG_DWMAC_SUNXI=n
CONFIG_DWMAC_SUN8I=n
CONFIG_DWMAC_IMX8=n
CONFIG_DWMAC_TEGRA=n
CONFIG_DWMAC_VISCONTI=n
CONFIG_TI_ICSS_IEP=n
CONFIG_QCOM_IPA=n
CONFIG_MESON_GXL_PHY=n
CONFIG_AX88796B_PHY=n
CONFIG_BROADCOM_PHY=n
CONFIG_BCM54140_PHY=n
CONFIG_BCM7XXX_PHY=n
CONFIG_BCM_NET_PHYLIB=n
CONFIG_MARVELL_PHY=n
CONFIG_MICROCHIP_PHY=n
CONFIG_SMSC_PHY=n
CONFIG_DP83869_PHY=n
CONFIG_CAN_DEV=n
CONFIG_CAN_FLEXCAN=n
CONFIG_CAN_M_CAN=n
CONFIG_CAN_M_CAN_PLATFORM=n
CONFIG_CAN_RCAR=n
CONFIG_CAN_RCAR_CANFD=n
CONFIG_CAN_MCP251XFD=n
CONFIG_MDIO_REGMAP=n
CONFIG_MDIO_BUS_MUX_MESON_G12A=n
CONFIG_MDIO_BUS_MUX_MESON_GXL=n
CONFIG_PCS_XPCS=n
CONFIG_ATH_COMMON=n
CONFIG_ATH10K=n
CONFIG_ATH10K_PCI=n
CONFIG_ATH10K_SDIO=n
CONFIG_ATH10K_SNOC=n
CONFIG_WCN36XX=n
CONFIG_ATH11K=n
CONFIG_ATH11K_AHB=n
CONFIG_ATH11K_PCI=n
CONFIG_BRCMUTIL=n
CONFIG_BRCMFMAC=n
CONFIG_MWIFIEX=n
CONFIG_MWIFIEX_SDIO=n
CONFIG_MWIFIEX_PCIE=n
CONFIG_MT76_CORE=n
CONFIG_MT76_CONNAC_LIB=n
CONFIG_MT792x_LIB=n
CONFIG_MT7921_COMMON=n
CONFIG_MT7921E=n
CONFIG_RTL_CARDS=n
CONFIG_RSI_91X=n
CONFIG_RSI_SDIO=n
CONFIG_WL18XX=n
CONFIG_WLCORE=n
CONFIG_WLCORE_SDIO=n
CONFIG_WWAN=n
CONFIG_MHI_WWAN_CTRL=n
CONFIG_MHI_WWAN_MBIM=n
CONFIG_TOUCHSCREEN_ATMEL_MXT=n
CONFIG_TOUCHSCREEN_GOODIX=n
CONFIG_TOUCHSCREEN_ELAN=n
CONFIG_TOUCHSCREEN_EDT_FT5X06=n
CONFIG_INPUT_BBNSM_PWRKEY=n
CONFIG_INPUT_PM8XXX_VIBRATOR=n
CONFIG_INPUT_TPS65219_PWRBUTTON=n
CONFIG_INPUT_PWM_BEEPER=n
CONFIG_INPUT_PWM_VIBRA=n
CONFIG_INPUT_RK805_PWRKEY=n
CONFIG_IPMI_HANDLER=n
CONFIG_IPMI_DEVICE_INTERFACE=n
CONFIG_IPMI_SI=n
CONFIG_HW_RANDOM=n
CONFIG_HW_RANDOM_BCM2835=n
CONFIG_HW_RANDOM_IPROC_RNG200=n
CONFIG_HW_RANDOM_OMAP=n
CONFIG_HW_RANDOM_VIRTIO=n
CONFIG_HW_RANDOM_HISI=n
CONFIG_HW_RANDOM_HISTB=n
CONFIG_HW_RANDOM_XGENE=n
CONFIG_HW_RANDOM_STM32=n
CONFIG_HW_RANDOM_MESON=n
CONFIG_HW_RANDOM_CAVIUM=n
CONFIG_HW_RANDOM_MTK=n
CONFIG_HW_RANDOM_EXYNOS=n
CONFIG_HW_RANDOM_OPTEE=n
CONFIG_HW_RANDOM_NPCM=n
CONFIG_HW_RANDOM_ARM_SMCCC_TRNG=n
CONFIG_HW_RANDOM_CN10K=n
CONFIG_TCG_TIS_CORE=n
CONFIG_TCG_TIS=n
CONFIG_TCG_TIS_SPI=n
CONFIG_TCG_TIS_I2C_CR50=n
CONFIG_I2C_BCM2835=n
CONFIG_I2C_CADENCE=n
CONFIG_I2C_GPIO=n
CONFIG_I2C_QCOM_CCI=n
CONFIG_I2C_QCOM_GENI=n
CONFIG_I2C_RZV2M=n
CONFIG_SPI_BCM2835=n
CONFIG_SPI_BCM2835AUX=n
CONFIG_SPI_DESIGNWARE=n
CONFIG_SPI_DW_MMIO=n
CONFIG_SPI_IMX=n
CONFIG_SPI_MESON_SPICC=n
CONFIG_SPI_MESON_SPIFC=n
CONFIG_SPI_MTK_NOR=n
CONFIG_SPI_OMAP24XX=n
CONFIG_SPI_ROCKCHIP_SFC=n
CONFIG_SPI_RPCIF=n
CONFIG_SPI_RSPI=n
CONFIG_SPI_RZV2M_CSI=n
CONFIG_SPI_QCOM_QSPI=n
CONFIG_SPI_QCOM_GENI=n
CONFIG_SPI_SH_MSIOF=n
CONFIG_SPI_TEGRA210_QUAD=n
CONFIG_SPI_TEGRA114=n
CONFIG_SPI_SPIDEV=n
CONFIG_SPMI_MTK_PMIF=n
CONFIG_PINCTRL_RK805=n
CONFIG_PINCTRL_LPASS_LPI=n
CONFIG_PINCTRL_SC7280_LPASS_LPI=n
CONFIG_PINCTRL_SM8250_LPASS_LPI=n
CONFIG_PINCTRL_SM8450_LPASS_LPI=n
CONFIG_PINCTRL_SC8280XP_LPASS_LPI=n
CONFIG_PINCTRL_SM8550_LPASS_LPI=n
CONFIG_GPIO_REGMAP=n
CONFIG_GPIO_ALTERA=n
CONFIG_GPIO_WCD934X=n
CONFIG_GPIO_BD9571MWV=n
CONFIG_GPIO_SL28CPLD=n
CONFIG_POWER_RESET_QCOM_PON=n
CONFIG_NVMEM_REBOOT_MODE=n
CONFIG_BATTERY_SBS=n
CONFIG_BATTERY_MAX17042=n
CONFIG_CHARGER_MT6360=n
CONFIG_CHARGER_BQ25890=n
CONFIG_CHARGER_BQ25980=n
CONFIG_CHARGER_RK817=n
CONFIG_IMX_SC_THERMAL=n
CONFIG_IMX8MM_THERMAL=n
CONFIG_K3_THERMAL=n
CONFIG_QORIQ_THERMAL=n
CONFIG_ROCKCHIP_THERMAL=n
CONFIG_BCM2711_THERMAL=n
CONFIG_BCM2835_THERMAL=n
CONFIG_BRCMSTB_THERMAL=n
CONFIG_TEGRA_SOCTHERM=n
CONFIG_TEGRA_BPMP_THERMAL=n
CONFIG_GENERIC_ADC_THERMAL=n
CONFIG_QCOM_SPMI_ADC_TM5=n
CONFIG_QCOM_SPMI_TEMP_ALARM=n
CONFIG_QCOM_LMH=n
CONFIG_SL28CPLD_WATCHDOG=n
CONFIG_K3_RTI_WATCHDOG=n
CONFIG_SUNXI_WATCHDOG=n
CONFIG_IMX_SC_WDT=n
CONFIG_IMX7ULP_WDT=n
CONFIG_QCOM_WDT=n
CONFIG_MESON_GXBB_WATCHDOG=n
CONFIG_MESON_WATCHDOG=n
CONFIG_PM8916_WATCHDOG=n
CONFIG_BCM7038_WDT=n
CONFIG_MFD_EXYNOS_LPASS=n
CONFIG_MFD_TI_AM335X_TSCADC=n
CONFIG_MFD_WM8994=n
CONFIG_MFD_WCD934X=n
CONFIG_REGULATOR_MT6315=n
CONFIG_REGULATOR_TPS65132=n
CONFIG_REGULATOR_VCTRL=n
CONFIG_RC_CORE=n
CONFIG_RC_MAP=n
CONFIG_IR_GPIO_CIR=n
CONFIG_IR_MESON=n
CONFIG_IR_SUNXI=n
CONFIG_CEC_CORE=n
CONFIG_MEDIA_SUPPORT=n
CONFIG_VIDEO_DEV=n
CONFIG_DVB_CORE=n
CONFIG_V4L2_JPEG_HELPER=n
CONFIG_V4L2_H264=n
CONFIG_V4L2_VP9=n
CONFIG_V4L2_MEM2MEM_DEV=n
CONFIG_V4L2_FWNODE=n
CONFIG_V4L2_ASYNC=n
CONFIG_V4L2_CCI=n
CONFIG_V4L2_CCI_I2C=n
CONFIG_VIDEO_MEDIATEK_JPEG=n
CONFIG_VIDEO_MEDIATEK_VCODEC=n
CONFIG_VIDEO_IMX7_CSI=n
CONFIG_VIDEO_IMX_MIPI_CSIS=n
CONFIG_VIDEO_IMX8_ISI=n
CONFIG_VIDEO_QCOM_CAMSS=n
CONFIG_VIDEO_QCOM_VENUS=n
CONFIG_VIDEO_RCAR_ISP=n
CONFIG_VIDEO_RCAR_CSI2=n
CONFIG_VIDEO_RCAR_VIN=n
CONFIG_VIDEO_RZG2L_CSI2=n
CONFIG_VIDEO_RZG2L_CRU=n
CONFIG_VIDEO_RENESAS_FCP=n
CONFIG_VIDEO_RENESAS_FDP1=n
CONFIG_VIDEO_RENESAS_VSP1=n
CONFIG_VIDEO_RCAR_DRIF=n
CONFIG_VIDEO_SAMSUNG_EXYNOS_GSC=n
CONFIG_VIDEO_SAMSUNG_S5P_JPEG=n
CONFIG_VIDEO_SAMSUNG_S5P_MFC=n
CONFIG_VIDEO_SUN6I_CSI=n
CONFIG_VIDEO_HANTRO=n
CONFIG_VIDEOBUF2_CORE=n
CONFIG_VIDEOBUF2_V4L2=n
CONFIG_VIDEOBUF2_MEMOPS=n
CONFIG_VIDEOBUF2_DMA_CONTIG=n
CONFIG_VIDEOBUF2_VMALLOC=n
CONFIG_VIDEOBUF2_DMA_SG=n
CONFIG_VIDEO_IR_I2C=n
CONFIG_VIDEO_IMX219=n
CONFIG_VIDEO_IMX412=n
CONFIG_VIDEO_OV5640=n
CONFIG_VIDEO_OV5645=n
CONFIG_MEDIA_TUNER=n
CONFIG_MEDIA_TUNER_MC44S803=n
CONFIG_MEDIA_TUNER_MT20XX=n
CONFIG_MEDIA_TUNER_SIMPLE=n
CONFIG_MEDIA_TUNER_TDA18271=n
CONFIG_MEDIA_TUNER_TDA827X=n
CONFIG_MEDIA_TUNER_TDA8290=n
CONFIG_MEDIA_TUNER_TDA9887=n
CONFIG_MEDIA_TUNER_XC2028=n
CONFIG_MEDIA_TUNER_XC4000=n
CONFIG_MEDIA_TUNER_XC5000=n
CONFIG_TEGRA_HOST1X=n
CONFIG_DRM=n
CONFIG_DRM_KMS_HELPER=n
CONFIG_DRM_DP_AUX_BUS=n
CONFIG_DRM_DISPLAY_HELPER=n
CONFIG_DRM_TTM=n
CONFIG_DRM_EXEC=n
CONFIG_DRM_VRAM_HELPER=n
CONFIG_DRM_TTM_HELPER=n
CONFIG_DRM_GEM_DMA_HELPER=n
CONFIG_DRM_GEM_SHMEM_HELPER=n
CONFIG_DRM_SCHED=n
CONFIG_DRM_I2C_CH7006=n
CONFIG_DRM_I2C_SIL164=n
CONFIG_DRM_I2C_NXP_TDA998X=n
CONFIG_DRM_HDLCD=n
CONFIG_DRM_MALI_DISPLAY=n
CONFIG_DRM_KOMEDA=n
CONFIG_DRM_NOUVEAU=n
CONFIG_DRM_EXYNOS=n
CONFIG_DRM_ROCKCHIP=n
CONFIG_DRM_RCAR_DU=n
CONFIG_DRM_RCAR_CMM=n
CONFIG_DRM_RCAR_DW_HDMI=n
CONFIG_DRM_RCAR_LVDS=n
CONFIG_DRM_RCAR_MIPI_DSI=n
CONFIG_DRM_RZG2L_MIPI_DSI=n
CONFIG_DRM_SUN4I=n
CONFIG_DRM_SUN6I_DSI=n
CONFIG_DRM_SUN8I_DW_HDMI=n
CONFIG_DRM_SUN8I_MIXER=n
CONFIG_DRM_SUN8I_TCON_TOP=n
CONFIG_DRM_MSM=n
CONFIG_DRM_TEGRA=n
CONFIG_DRM_PANEL_BOE_TV101WUM_NL6=n
CONFIG_DRM_PANEL_LVDS=n
CONFIG_DRM_PANEL_SIMPLE=n
CONFIG_DRM_PANEL_EDP=n
CONFIG_DRM_PANEL_MANTIX_MLAF057WE51=n
CONFIG_DRM_PANEL_RAYDIUM_RM67191=n
CONFIG_DRM_PANEL_SITRONIX_ST7703=n
CONFIG_DRM_PANEL_TRULY_NT35597_WQXGA=n
CONFIG_DRM_PANEL_VISIONOX_VTDR6130=n
CONFIG_DRM_DISPLAY_CONNECTOR=n
CONFIG_DRM_LONTIUM_LT8912B=n
CONFIG_DRM_LONTIUM_LT9611=n
CONFIG_DRM_LONTIUM_LT9611UXC=n
CONFIG_DRM_ITE_IT66121=n
CONFIG_DRM_NWL_MIPI_DSI=n
CONFIG_DRM_PARADE_PS8640=n
CONFIG_DRM_SAMSUNG_DSIM=n
CONFIG_DRM_SII902X=n
CONFIG_DRM_SIMPLE_BRIDGE=n
CONFIG_DRM_THINE_THC63LVD1024=n
CONFIG_DRM_TOSHIBA_TC358768=n
CONFIG_DRM_TI_TFP410=n
CONFIG_DRM_TI_SN65DSI83=n
CONFIG_DRM_TI_SN65DSI86=n
CONFIG_DRM_ANALOGIX_DP=n
CONFIG_DRM_ANALOGIX_ANX7625=n
CONFIG_DRM_I2C_ADV7511=n
CONFIG_DRM_CDNS_MHDP8546=n
CONFIG_DRM_DW_HDMI=n
CONFIG_DRM_DW_HDMI_AHB_AUDIO=n
CONFIG_DRM_DW_HDMI_I2S_AUDIO=n
CONFIG_DRM_DW_HDMI_CEC=n
CONFIG_DRM_DW_MIPI_DSI=n
CONFIG_DRM_IMX_DCSS=n
CONFIG_DRM_V3D=n
CONFIG_DRM_VC4=n
CONFIG_DRM_ETNAVIV=n
CONFIG_DRM_HISI_HIBMC=n
CONFIG_DRM_HISI_KIRIN=n
CONFIG_DRM_MEDIATEK=n
CONFIG_DRM_MEDIATEK_HDMI=n
CONFIG_DRM_MXSFB=n
CONFIG_DRM_IMX_LCDIF=n
CONFIG_DRM_MESON=n
CONFIG_DRM_MESON_DW_HDMI=n
CONFIG_DRM_MESON_DW_MIPI_DSI=n
CONFIG_DRM_PL111=n
CONFIG_DRM_LIMA=n
CONFIG_DRM_PANFROST=n
CONFIG_DRM_TIDSS=n
CONFIG_DRM_PANEL_ORIENTATION_QUIRKS=n
CONFIG_BACKLIGHT_CLASS_DEVICE=n
CONFIG_BACKLIGHT_PWM=n
CONFIG_BACKLIGHT_LP855X=n
CONFIG_SND_ALOOP=n
CONFIG_SND_HDA=n
CONFIG_SND_HDA_TEGRA=n
CONFIG_SND_HDA_CODEC_HDMI=n
CONFIG_SND_HDA_CORE=n
CONFIG_SND_BCM2835_SOC_I2S=n
CONFIG_SND_SOC_FSL_ASRC=n
CONFIG_SND_SOC_FSL_SAI=n
CONFIG_SND_SOC_FSL_AUDMIX=n
CONFIG_SND_SOC_FSL_SSI=n
CONFIG_SND_SOC_FSL_SPDIF=n
CONFIG_SND_SOC_FSL_ESAI=n
CONFIG_SND_SOC_FSL_MICFIL=n
CONFIG_SND_SOC_FSL_EASRC=n
CONFIG_SND_SOC_FSL_UTILS=n
CONFIG_SND_SOC_IMX_PCM_DMA=n
CONFIG_SND_SOC_IMX_AUDMUX=n
CONFIG_SND_IMX_SOC=n
CONFIG_SND_SOC_IMX_SGTL5000=n
CONFIG_SND_SOC_IMX_SPDIF=n
CONFIG_SND_SOC_FSL_ASOC_CARD=n
CONFIG_SND_SOC_IMX_AUDMIX=n
CONFIG_SND_SOC_MEDIATEK=n
CONFIG_SND_SOC_MT8183=n
CONFIG_SND_SOC_MT8183_MT6358_TS3A227E_MAX98357A=n
CONFIG_SND_SOC_MT8183_DA7219_MAX98357A=n
CONFIG_SND_SOC_MT8192=n
CONFIG_SND_SOC_MT8192_MT6359_RT1015_RT5682=n
CONFIG_SND_MESON_AIU=n
CONFIG_SND_MESON_AXG_FIFO=n
CONFIG_SND_MESON_AXG_FRDDR=n
CONFIG_SND_MESON_AXG_TODDR=n
CONFIG_SND_MESON_AXG_TDM_FORMATTER=n
CONFIG_SND_MESON_AXG_TDM_INTERFACE=n
CONFIG_SND_MESON_AXG_TDMIN=n
CONFIG_SND_MESON_AXG_TDMOUT=n
CONFIG_SND_MESON_AXG_SOUND_CARD=n
CONFIG_SND_MESON_AXG_SPDIFOUT=n
CONFIG_SND_MESON_AXG_SPDIFIN=n
CONFIG_SND_MESON_AXG_PDM=n
CONFIG_SND_MESON_CARD_UTILS=n
CONFIG_SND_MESON_CODEC_GLUE=n
CONFIG_SND_MESON_GX_SOUND_CARD=n
CONFIG_SND_MESON_G12A_TOACODEC=n
CONFIG_SND_MESON_G12A_TOHDMITX=n
CONFIG_SND_SOC_MESON_T9015=n
CONFIG_SND_SOC_QCOM=n
CONFIG_SND_SOC_LPASS_CPU=n
CONFIG_SND_SOC_LPASS_HDMI=n
CONFIG_SND_SOC_LPASS_PLATFORM=n
CONFIG_SND_SOC_LPASS_CDC_DMA=n
CONFIG_SND_SOC_LPASS_APQ8016=n
CONFIG_SND_SOC_LPASS_SC7180=n
CONFIG_SND_SOC_LPASS_SC7280=n
CONFIG_SND_SOC_APQ8016_SBC=n
CONFIG_SND_SOC_QCOM_COMMON=n
CONFIG_SND_SOC_QCOM_SDW=n
CONFIG_SND_SOC_QDSP6_COMMON=n
CONFIG_SND_SOC_QDSP6_CORE=n
CONFIG_SND_SOC_QDSP6_AFE=n
CONFIG_SND_SOC_QDSP6_AFE_DAI=n
CONFIG_SND_SOC_QDSP6_AFE_CLOCKS=n
CONFIG_SND_SOC_QDSP6_ADM=n
CONFIG_SND_SOC_QDSP6_ROUTING=n
CONFIG_SND_SOC_QDSP6_ASM=n
CONFIG_SND_SOC_QDSP6_ASM_DAI=n
CONFIG_SND_SOC_QDSP6_APM_DAI=n
CONFIG_SND_SOC_QDSP6_APM_LPASS_DAI=n
CONFIG_SND_SOC_QDSP6_APM=n
CONFIG_SND_SOC_QDSP6_PRM_LPASS_CLOCKS=n
CONFIG_SND_SOC_QDSP6_PRM=n
CONFIG_SND_SOC_QDSP6=n
CONFIG_SND_SOC_MSM8996=n
CONFIG_SND_SOC_SDM845=n
CONFIG_SND_SOC_SM8250=n
CONFIG_SND_SOC_SC7180=n
CONFIG_SND_SOC_SC7280=n
CONFIG_SND_SOC_ROCKCHIP=n
CONFIG_SND_SOC_ROCKCHIP_I2S=n
CONFIG_SND_SOC_ROCKCHIP_I2S_TDM=n
CONFIG_SND_SOC_ROCKCHIP_SPDIF=n
CONFIG_SND_SOC_ROCKCHIP_RT5645=n
CONFIG_SND_SOC_RK3399_GRU_SOUND=n
CONFIG_SND_SOC_RCAR=n
CONFIG_SND_SOC_RZ=n
CONFIG_SND_SUN8I_CODEC=n
CONFIG_SND_SUN8I_CODEC_ANALOG=n
CONFIG_SND_SUN50I_CODEC_ANALOG=n
CONFIG_SND_SUN4I_I2S=n
CONFIG_SND_SUN4I_SPDIF=n
CONFIG_SND_SUN8I_ADDA_PR_REGMAP=n
CONFIG_SND_SOC_TEGRA=n
CONFIG_SND_SOC_TEGRA210_AHUB=n
CONFIG_SND_SOC_TEGRA210_DMIC=n
CONFIG_SND_SOC_TEGRA210_I2S=n
CONFIG_SND_SOC_TEGRA210_OPE=n
CONFIG_SND_SOC_TEGRA186_ASRC=n
CONFIG_SND_SOC_TEGRA186_DSPK=n
CONFIG_SND_SOC_TEGRA210_ADMAIF=n
CONFIG_SND_SOC_TEGRA210_MVC=n
CONFIG_SND_SOC_TEGRA210_SFC=n
CONFIG_SND_SOC_TEGRA210_AMX=n
CONFIG_SND_SOC_TEGRA210_ADX=n
CONFIG_SND_SOC_TEGRA210_MIXER=n
CONFIG_SND_SOC_TEGRA_AUDIO_GRAPH_CARD=n
CONFIG_SND_SOC_TI_EDMA_PCM=n
CONFIG_SND_SOC_TI_SDMA_PCM=n
CONFIG_SND_SOC_TI_UDMA_PCM=n
CONFIG_SND_SOC_DAVINCI_MCASP=n
CONFIG_SND_SOC_J721E_EVM=n
CONFIG_SND_SOC_WM_HUBS=n
CONFIG_SND_SOC_ADAU7002=n
CONFIG_SND_SOC_AK4613=n
CONFIG_SND_SOC_BT_SCO=n
CONFIG_SND_SOC_CROS_EC_CODEC=n
CONFIG_SND_SOC_DA7213=n
CONFIG_SND_SOC_DA7219=n
CONFIG_SND_SOC_DMIC=n
CONFIG_SND_SOC_HDMI_CODEC=n
CONFIG_SND_SOC_ES7134=n
CONFIG_SND_SOC_ES7241=n
CONFIG_SND_SOC_ES8316=n
CONFIG_SND_SOC_GTM601=n
CONFIG_SND_SOC_MAX98357A=n
CONFIG_SND_SOC_MAX98927=n
CONFIG_SND_SOC_MSM8916_WCD_ANALOG=n
CONFIG_SND_SOC_MSM8916_WCD_DIGITAL=n
CONFIG_SND_SOC_PCM3168A=n
CONFIG_SND_SOC_PCM3168A_I2C=n
CONFIG_SND_SOC_RK817=n
CONFIG_SND_SOC_RL6231=n
CONFIG_SND_SOC_RT1015=n
CONFIG_SND_SOC_RT1015P=n
CONFIG_SND_SOC_RT5514=n
CONFIG_SND_SOC_RT5514_SPI=n
CONFIG_SND_SOC_RT5640=n
CONFIG_SND_SOC_RT5645=n
CONFIG_SND_SOC_RT5659=n
CONFIG_SND_SOC_RT5663=n
CONFIG_SND_SOC_RT5682=n
CONFIG_SND_SOC_RT5682_I2C=n
CONFIG_SND_SOC_RT5682S=n
CONFIG_SND_SOC_SGTL5000=n
CONFIG_SND_SOC_SIMPLE_AMPLIFIER=n
CONFIG_SND_SOC_SIMPLE_MUX=n
CONFIG_SND_SOC_SPDIF=n
CONFIG_SND_SOC_TAS2552=n
CONFIG_SND_SOC_TAS571X=n
CONFIG_SND_SOC_TLV320AIC31XX=n
CONFIG_SND_SOC_TLV320AIC32X4=n
CONFIG_SND_SOC_TLV320AIC32X4_I2C=n
CONFIG_SND_SOC_TLV320AIC3X=n
CONFIG_SND_SOC_TLV320AIC3X_I2C=n
CONFIG_SND_SOC_TS3A227E=n
CONFIG_SND_SOC_WCD_CLASSH=n
CONFIG_SND_SOC_WCD9335=n
CONFIG_SND_SOC_WCD_MBHC=n
CONFIG_SND_SOC_WCD934X=n
CONFIG_SND_SOC_WCD938X=n
CONFIG_SND_SOC_WCD938X_SDW=n
CONFIG_SND_SOC_WM8524=n
CONFIG_SND_SOC_WM8904=n
CONFIG_SND_SOC_WM8960=n
CONFIG_SND_SOC_WM8962=n
CONFIG_SND_SOC_WM8978=n
CONFIG_SND_SOC_WM8994=n
CONFIG_SND_SOC_WSA881X=n
CONFIG_SND_SOC_MT6358=n
CONFIG_SND_SOC_MT6359=n
CONFIG_SND_SOC_NAU8822=n
CONFIG_SND_SOC_LPASS_MACRO_COMMON=n
CONFIG_SND_SOC_LPASS_WSA_MACRO=n
CONFIG_SND_SOC_LPASS_VA_MACRO=n
CONFIG_SND_SOC_LPASS_RX_MACRO=n
CONFIG_SND_SOC_LPASS_TX_MACRO=n
CONFIG_SND_SIMPLE_CARD_UTILS=n
CONFIG_SND_SIMPLE_CARD=n
CONFIG_SND_AUDIO_GRAPH_CARD=n
CONFIG_SND_AUDIO_GRAPH_CARD2=n
CONFIG_SCSI_UFS_CDNS_PLATFORM=n
CONFIG_SCSI_UFS_QCOM=n
CONFIG_SCSI_UFS_RENESAS=n
CONFIG_SCSI_UFS_TI_J721E=n
CONFIG_LEDS_CLASS_MULTICOLOR=n
CONFIG_LEDS_LM3692X=n
CONFIG_LEDS_PCA9532=n
CONFIG_LEDS_QCOM_LPG=n
CONFIG_EDAC_LAYERSCAPE=n
CONFIG_RTC_DRV_DS1307=n
CONFIG_RTC_DRV_HYM8563=n
CONFIG_RTC_DRV_RK808=n
CONFIG_RTC_DRV_ISL1208=n
CONFIG_RTC_DRV_PCF85063=n
CONFIG_RTC_DRV_PCF85363=n
CONFIG_RTC_DRV_M41T80=n
CONFIG_RTC_DRV_BQ32K=n
CONFIG_RTC_DRV_RX8581=n
CONFIG_RTC_DRV_RV3028=n
CONFIG_RTC_DRV_RV8803=n
CONFIG_RTC_DRV_PCF2127=n
CONFIG_RTC_DRV_FSL_FTM_ALARM=n
CONFIG_RTC_DRV_MESON_VRTC=n
CONFIG_RTC_DRV_PM8XXX=n
CONFIG_RTC_DRV_SNVS=n
CONFIG_RTC_DRV_BBNSM=n
CONFIG_RTC_DRV_IMX_SC=n
CONFIG_RTC_DRV_MT6397=n
CONFIG_RTC_DRV_TI_K3=n
CONFIG_BCM_SBA_RAID=n
CONFIG_DMA_SUN6I=n
CONFIG_IMX_SDMA=n
CONFIG_TEGRA210_ADMA=n
CONFIG_QCOM_GPI_DMA=n
CONFIG_RENESAS_USB_DMAC=n
CONFIG_XEN_PCIDEV_STUB=n
CONFIG_VIDEO_MAX96712=n
CONFIG_CROS_EC_RPMSG=n
CONFIG_CROS_EC_CHARDEV=n
CONFIG_COMMON_CLK_BD718XX=n
CONFIG_CLK_RASPBERRYPI=n
CONFIG_COMMON_CLK_MESON_PHASE=n
CONFIG_COMMON_CLK_MESON_SCLK_DIV=n
CONFIG_COMMON_CLK_AXG_AUDIO=n
CONFIG_MSM_MMCC_8994=n
CONFIG_MSM_MMCC_8996=n
CONFIG_MSM_MMCC_8998=n
CONFIG_QCM_DISPCC_2290=n
CONFIG_SC_DISPCC_8280XP=n
CONFIG_SA_GPUCC_8775P=n
CONFIG_SC_GPUCC_8280XP=n
CONFIG_SC_LPASSCC_8280XP=n
CONFIG_SDM_CAMCC_845=n
CONFIG_SDM_LPASSCC_845=n
CONFIG_SM_CAMCC_8250=n
CONFIG_SM_DISPCC_6115=n
CONFIG_SM_DISPCC_8450=n
CONFIG_SM_DISPCC_8550=n
CONFIG_SM_GPUCC_6115=n
CONFIG_CLK_GFM_LPASS_SM8250=n
CONFIG_OMAP2PLUS_MBOX=n
CONFIG_BCM_FLEXRM_MBOX=n
CONFIG_MTK_CMDQ_MBOX=n
CONFIG_MTK_SCP=n
CONFIG_PRU_REMOTEPROC=n
CONFIG_QCOM_PIL_INFO=n
CONFIG_QCOM_RPROC_COMMON=n
CONFIG_QCOM_Q6V5_COMMON=n
CONFIG_QCOM_Q6V5_ADSP=n
CONFIG_QCOM_Q6V5_MSS=n
CONFIG_QCOM_Q6V5_PAS=n
CONFIG_QCOM_SYSMON=n
CONFIG_QCOM_WCNSS_PIL=n
CONFIG_TI_K3_DSP_REMOTEPROC=n
CONFIG_TI_K3_R5_REMOTEPROC=n
CONFIG_RPMSG_CHAR=n
CONFIG_RPMSG_CTRL=n
CONFIG_RPMSG_MTK_SCP=n
CONFIG_RPMSG_QCOM_GLINK_SMEM=n
CONFIG_SOUNDWIRE=n
CONFIG_SOUNDWIRE_QCOM=n
CONFIG_MESON_CANVAS=n
CONFIG_MTK_CMDQ=n
CONFIG_MTK_DEVAPC=n
CONFIG_MTK_MMSYS=n
CONFIG_MTK_SVS=n
CONFIG_QCOM_LLCC=n
CONFIG_QCOM_MDT_LOADER=n
CONFIG_QCOM_OCMEM=n
CONFIG_QCOM_PDR_HELPERS=n
CONFIG_QCOM_QMI_HELPERS=n
CONFIG_QCOM_RMTFS_MEM=n
CONFIG_QCOM_SOCINFO=n
CONFIG_QCOM_SPM=n
CONFIG_QCOM_STATS=n
CONFIG_QCOM_WCNSS_CTRL=n
CONFIG_QCOM_APR=n
CONFIG_QCOM_ICC_BWMON=n
CONFIG_TI_PRUSS=n
CONFIG_DEVFREQ_GOV_PASSIVE=n
CONFIG_ARM_IMX8M_DDRC_DEVFREQ=n
CONFIG_ARM_MEDIATEK_CCI_DEVFREQ=n
CONFIG_EXTCON_PTN5150=n
CONFIG_RENESAS_RPCIF=n
CONFIG_IIO_KFIFO_BUF=n
CONFIG_IIO_TRIGGERED_BUFFER=n
CONFIG_IMX93_ADC=n
CONFIG_MAX9611=n
CONFIG_MEDIATEK_MT6577_AUXADC=n
CONFIG_QCOM_VADC_COMMON=n
CONFIG_QCOM_SPMI_VADC=n
CONFIG_QCOM_SPMI_ADC5=n
CONFIG_ROCKCHIP_SARADC=n
CONFIG_RZG2L_ADC=n
CONFIG_TI_ADS1015=n
CONFIG_TI_AM335X_ADC=n
CONFIG_IIO_CROS_EC_SENSORS_CORE=n
CONFIG_IIO_CROS_EC_SENSORS=n
CONFIG_IIO_ST_SENSORS_I2C=n
CONFIG_IIO_ST_SENSORS_SPI=n
CONFIG_IIO_ST_SENSORS_CORE=n
CONFIG_IIO_ST_LSM6DSX=n
CONFIG_IIO_ST_LSM6DSX_I2C=n
CONFIG_IIO_ST_LSM6DSX_SPI=n
CONFIG_IIO_ST_LSM6DSX_I3C=n
CONFIG_IIO_CROS_EC_LIGHT_PROX=n
CONFIG_SENSORS_ISL29018=n
CONFIG_VCNL4000=n
CONFIG_IIO_ST_MAGN_3AXIS=n
CONFIG_IIO_ST_MAGN_I2C_3AXIS=n
CONFIG_IIO_ST_MAGN_SPI_3AXIS=n
CONFIG_IIO_CROS_EC_BARO=n
CONFIG_MPL3115=n
CONFIG_PWM_BCM2835=n
CONFIG_PWM_BRCMSTB=n
CONFIG_PWM_CROS_EC=n
CONFIG_PWM_IMX27=n
CONFIG_PWM_MESON=n
CONFIG_PWM_MTK_DISP=n
CONFIG_PWM_MEDIATEK=n
CONFIG_PWM_RCAR=n
CONFIG_PWM_RENESAS_TPU=n
CONFIG_PWM_RZ_MTU3=n
CONFIG_PWM_SL28CPLD=n
CONFIG_PWM_SUN4I=n
CONFIG_PWM_TEGRA=n
CONFIG_PWM_TIECAP=n
CONFIG_PWM_TIEHRPWM=n
CONFIG_PWM_VISCONTI=n
CONFIG_IMX_MU_MSI=n
CONFIG_TI_PRUSS_INTC=n
CONFIG_RESET_BERLIN=n
CONFIG_RESET_MESON_AUDIO_ARB=n
CONFIG_RESET_QCOM_PDC=n
CONFIG_RESET_RASPBERRYPI=n
CONFIG_PHY_CAN_TRANSCEIVER=n
CONFIG_PHY_SUN6I_MIPI_DPHY=n
CONFIG_PHY_CADENCE_TORRENT=n
CONFIG_PHY_CADENCE_SIERRA=n
CONFIG_PHY_MIXEL_MIPI_DPHY=n
CONFIG_PHY_MTK_HDMI=n
CONFIG_PHY_MTK_MIPI_DSI=n
CONFIG_PHY_QCOM_EDP=n
CONFIG_PHY_QCOM_PCIE2=n
CONFIG_PHY_QCOM_QMP=n
CONFIG_PHY_QCOM_QMP_COMBO=n
CONFIG_PHY_QCOM_QMP_PCIE=n
CONFIG_PHY_QCOM_QMP_PCIE_8996=n
CONFIG_PHY_QCOM_QMP_UFS=n
CONFIG_PHY_QCOM_QMP_USB=n
CONFIG_PHY_QCOM_QUSB2=n
CONFIG_PHY_QCOM_SNPS_EUSB2=n
CONFIG_PHY_QCOM_EUSB2_REPEATER=n
CONFIG_PHY_QCOM_USB_SNPS_FEMTO_V2=n
CONFIG_PHY_QCOM_USB_HS_28NM=n
CONFIG_PHY_QCOM_USB_SS=n
CONFIG_PHY_QCOM_SGMII_ETH=n
CONFIG_PHY_RCAR_GEN3_USB3=n
CONFIG_PHY_ROCKCHIP_INNO_HDMI=n
CONFIG_PHY_ROCKCHIP_INNO_DSIDPHY=n
CONFIG_PHY_ROCKCHIP_NANENG_COMBO_PHY=n
CONFIG_PHY_ROCKCHIP_PCIE=n
CONFIG_PHY_TEGRA194_P2U=n
CONFIG_PHY_AM654_SERDES=n
CONFIG_PHY_J721E_WIZ=n
CONFIG_ARM_CCI_PMU=n
CONFIG_ARM_CCN=n
CONFIG_ARM_CMN=n
CONFIG_ARM_SMMU_V3_PMU=n
CONFIG_ARM_DSU_PMU=n
CONFIG_FSL_IMX8_DDR_PMU=n
CONFIG_ARM_SPE_PMU=n
CONFIG_ARM_CORESIGHT_PMU_ARCH_SYSTEM_PMU=n
CONFIG_NVMEM_LAYOUT_SL28_VPD=n
CONFIG_NVMEM_IMX_OCOTP_ELE=n
CONFIG_NVMEM_LAYERSCAPE_SFP=n
CONFIG_NVMEM_MESON_EFUSE=n
CONFIG_NVMEM_RMEM=n
CONFIG_NVMEM_SPMI_SDAM=n
CONFIG_FPGA_MGR_ALTERA_CVP=n
CONFIG_FPGA_MGR_STRATIX10_SOC=n
CONFIG_FPGA_BRIDGE=n
CONFIG_ALTERA_FREEZE_BRIDGE=n
CONFIG_FPGA_REGION=n
CONFIG_OF_FPGA_REGION=n
CONFIG_MUX_GPIO=n
CONFIG_SLIMBUS=n
CONFIG_SLIM_QCOM_CTRL=n
CONFIG_SLIM_QCOM_NGD_CTRL=n
CONFIG_INTERCONNECT_IMX8MM=n
CONFIG_INTERCONNECT_IMX8MN=n
CONFIG_INTERCONNECT_IMX8MQ=n
CONFIG_INTERCONNECT_QCOM_MSM8916=n
CONFIG_INTERCONNECT_QCOM_MSM8996=n
CONFIG_INTERCONNECT_QCOM_OSM_L3=n
CONFIG_INTERCONNECT_QCOM_QCM2290=n
CONFIG_INTERCONNECT_QCOM_QCS404=n
CONFIG_INTERCONNECT_QCOM_SM8150=n
CONFIG_INTERCONNECT_QCOM_SM8250=n
CONFIG_INTERCONNECT_QCOM_SM8350=n
CONFIG_INTERCONNECT_QCOM_SMD_RPM=n
CONFIG_COUNTER=n
CONFIG_RZ_MTU3_CNT=n
CONFIG_HTE_TEGRA194_TEST=n
CONFIG_BTRFS_FS=n
CONFIG_FUSE_FS=n
CONFIG_CUSE=n
CONFIG_OVERLAY_FS=n
CONFIG_XOR_BLOCKS=n
CONFIG_CRYPTO_KPP=n
CONFIG_CRYPTO_AUTHENC=n
CONFIG_CRYPTO_TEST=n
CONFIG_CRYPTO_ENGINE=n
CONFIG_CRYPTO_DH=n
CONFIG_CRYPTO_ECC=n
CONFIG_CRYPTO_ECDH=n
CONFIG_CRYPTO_CURVE25519=n
CONFIG_CRYPTO_DES=n
CONFIG_CRYPTO_SM4=n
CONFIG_CRYPTO_SM4_GENERIC=n
CONFIG_CRYPTO_CBC=n
CONFIG_CRYPTO_CTR=n
CONFIG_CRYPTO_ECB=n
CONFIG_CRYPTO_XTS=n
CONFIG_CRYPTO_CCM=n
CONFIG_CRYPTO_GCM=n
CONFIG_CRYPTO_BLAKE2B=n
CONFIG_CRYPTO_CMAC=n
CONFIG_CRYPTO_GHASH=n
CONFIG_CRYPTO_MD5=n
CONFIG_CRYPTO_MICHAEL_MIC=n
CONFIG_CRYPTO_SM3=n
CONFIG_CRYPTO_SM3_GENERIC=n
CONFIG_CRYPTO_XXHASH=n
CONFIG_CRYPTO_USER_API_RNG=n
CONFIG_CRYPTO_CHACHA20_NEON=n
CONFIG_CRYPTO_SHA512_ARM64=n
CONFIG_CRYPTO_SHA512_ARM64_CE=n
CONFIG_CRYPTO_SHA3_ARM64=n
CONFIG_CRYPTO_SM3_ARM64_CE=n
CONFIG_CRYPTO_AES_ARM64_NEON_BLK=n
CONFIG_CRYPTO_AES_ARM64_BS=n
CONFIG_CRYPTO_CRCT10DIF_ARM64_CE=n
CONFIG_CRYPTO_DEV_SUN8I_CE=n
CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=n
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=n
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API_DESC=n
CONFIG_CRYPTO_DEV_FSL_CAAM=n
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=n
CONFIG_CRYPTO_DEV_FSL_DPAA2_CAAM=n
CONFIG_CRYPTO_DEV_QCE=n
CONFIG_CRYPTO_DEV_QCOM_RNG=n
CONFIG_CRYPTO_DEV_BCM_SPU=n
CONFIG_CRYPTO_DEV_CCREE=n
CONFIG_CRYPTO_DEV_AMLOGIC_GXL=n
CONFIG_CRYPTO_DEV_SA2UL=n
CONFIG_RAID6_PQ=n
CONFIG_CRYPTO_LIB_ARC4=n
CONFIG_CRYPTO_ARCH_HAVE_LIB_CHACHA=n
CONFIG_CRYPTO_LIB_CHACHA_GENERIC=n
CONFIG_CRYPTO_LIB_CURVE25519_GENERIC=n
CONFIG_CRYPTO_LIB_DES=n
CONFIG_LIBCRC32C=n
CONFIG_CORESIGHT=n
CONFIG_CORESIGHT_LINKS_AND_SINKS=n
CONFIG_CORESIGHT_LINK_AND_SINK_TMC=n
CONFIG_CORESIGHT_CATU=n
CONFIG_CORESIGHT_SINK_TPIU=n
CONFIG_CORESIGHT_SINK_ETBV10=n
CONFIG_CORESIGHT_STM=n
CONFIG_CORESIGHT_CPU_DEBUG=n
CONFIG_CORESIGHT_CTI=n
