# CONFIG_HW_RANDOM is not set
# CONFIG_IPV6 is not set
# CONFIG_ARM_PMU is not set
CONFIG_ASYMMETRIC_KEY_TYPE=y
CONFIG_ASYMMETRIC_PUBLIC_KEY_SUBTYPE=y
# CONFIG_BLK_DEBUG_FS is not set
CONFIG_BLK_DEV_INTEGRITY=y
CONFIG_CFS_BANDWIDTH=y
CONFIG_CHECKPOINT_RESTORE=y
CONFIG_CMA=y
CONFIG_CMA_AREAS=19
CONFIG_COMMON_CLK_XGENE=y
CONFIG_CRC7=y
CONFIG_CRC8=y
CONFIG_CRC_CCITT=y
CONFIG_CRC_ITU_T=y
CONFIG_CRYPTO_DEFLATE=y
CONFIG_CRYPTO_LZO=y
CONFIG_CRYPTO_RSA=y
CONFIG_CRYPTO_USER_API_HASH=y
CONFIG_CRYPTO_ZSTD=y
CONFIG_DMA_CMA=y
CONFIG_DNS_RESOLVER=y
CONFIG_DYNAMIC_DEBUG=y
# CONFIG_ETHTOOL_NETLINK is not set
CONFIG_EXT4_FS=y
CONFIG_FAILOVER=y
# CONFIG_GCC_PLUGINS is not set
CONFIG_GENERIC_IRQ_DEBUGFS=y
CONFIG_GENERIC_PHY=y
# CONFIG_HID_SUPPORT is not set
CONFIG_HOTPLUG_CPU=y
# CONFIG_HWMON is not set
CONFIG_I2C_ALGOBIT=y
# CONFIG_I2C_COMPAT is not set
# CONFIG_I2C_HELPER_AUTO is not set
CONFIG_I2C_STM32F7=y
CONFIG_I3C=y
CONFIG_INDIRECT_PIO=y
CONFIG_INET=y
# CONFIG_INET_DIAG is not set
CONFIG_INPUT_FF_MEMLESS=y
# CONFIG_INPUT_KEYBOARD is not set
# CONFIG_INPUT_MOUSE is not set
# CONFIG_IOMMU_SUPPORT is not set
CONFIG_IRQ_POLL=y
CONFIG_KEYS=y
CONFIG_KPROBES=y
CONFIG_MAILBOX=y
CONFIG_MAILBOX_CDEV=y
# CONFIG_MISC_FILESYSTEMS is not set
CONFIG_MMC_CQHCI=y
CONFIG_MODVERSIONS=y
# CONFIG_NETWORK_FILESYSTEMS is not set
CONFIG_NR_CPUS=2
CONFIG_OF_OVERLAY=y
CONFIG_PACKING=y
CONFIG_PAGE_REPORTING=y
# CONFIG_PCPU_DEV_REFCNT is not set
# CONFIG_PINCTRL_STM32MP215 is not set
# CONFIG_PINCTRL_STM32MP235 is not set
# CONFIG_PINCTRL_STM32_HDP is not set
CONFIG_PKCS7_MESSAGE_PARSER=y
CONFIG_PPS=y
CONFIG_REGULATOR=y
# CONFIG_RESET_SCMI is not set
CONFIG_SCMI_STM32MP_OSTL_V5=y
CONFIG_SCSI=y
CONFIG_SCSI_SAS_LIBSAS=y
CONFIG_SECURITYFS=y
# CONFIG_SERIO is not set
CONFIG_SPI_MEM=y
CONFIG_STM=y
# CONFIG_STM32_DDR_PMU is not set
CONFIG_STM32_DMA3=y
CONFIG_STM32_IPCC=y
# CONFIG_STM32_RISAB is not set
# CONFIG_STM32_RISAF is not set
# CONFIG_STRICT_DEVMEM is not set
# CONFIG_SURFACE_PLATFORMS is not set
# CONFIG_SUSPEND is not set
CONFIG_SYNC_FILE=y
CONFIG_SYSTEM_TRUSTED_KEYRING=y
CONFIG_TASK_DELAY_ACCT=y
CONFIG_THERMAL=y
CONFIG_TMPFS=y
CONFIG_UNIX=y
# CONFIG_USB_SUPPORT is not set
# CONFIG_VHOST_MENU is not set
# CONFIG_VIRTIO_MENU is not set
CONFIG_VT_HW_CONSOLE_BINDING=y
CONFIG_X509_CERTIFICATE_PARSER=y
CONFIG_FW_LOADER=n
CONFIG_FW_LOADER_DEBUG=n
CONFIG_CDNS_I3C_MASTER=n
CONFIG_SENSORS_LIS3_SPI=n
CONFIG_I2C_ALGOPCF=n
CONFIG_I2C_ALGOPCA=n
CONFIG_DW_I3C_MASTER=n
CONFIG_STM32_I3C_MASTER=n
CONFIG_SVC_I3C_MASTER=n
CONFIG_MIPI_I3C_HCI=n
CONFIG_DEBUG_CGROUP_REF=n
CONFIG_FUNCTION_ERROR_INJECTION=n
CONFIG_TEST_DYNAMIC_DEBUG=n
CONFIG_PCIEASPM_POWERSAVE=n
CONFIG_NET_SCHED=n
CONFIG_BT=n
CONFIG_DRM=n
CONFIG_SPI=n
CONFIG_SPIDEV=n
CONFIG_SPI_MUX=n
CONFIG_SAMPLES=n
CONFIG_CORESIGHT=n
CONFIG_MTD_COMPLEX_MAPPINGS=n
CONFIG_V4L_TEST_DRIVERS=n
CONFIG_MTD_PHYSMAP=n
CONFIG_ABP060MG=n
# CONFIG_PM is not set
# CONFIG_CPU_IDLE is not set
# CONFIG_CPU_FREQ is not set
# CONFIG_VIRTUALIZATION is not set
CONFIG_NO_IOPORT_MAP=y
# CONFIG_HOTPLUG_CPU is not set
# CONFIG_NUMA is not set
# CONFIG_BINFMT_SCRIPT is not set
# CONFIG_IP_MULTICAST is not set
# CONFIG_IP_PNP is not set
# CONFIG_NETFILTER is not set
# CONFIG_BRIDGE is not set
# CONFIG_VLAN_8021Q is not set
# CONFIG_DNS_RESOLVER is not set
# CONFIG_NET_SWITCHDEV is not set
# CONFIG_QRTR_TUN is not set
# CONFIG_CAN is not set
# CONFIG_CFG80211 is not set
# CONFIG_RFKILL is not set
# CONFIG_NET_9P is not set
# CONFIG_NFC is not set
# CONFIG_PCI is not set
# CONFIG_GNSS is not set
# CONFIG_MTD is not set
# CONFIG_BLK_DEV_NBD is not set
# CONFIG_XEN_BLKDEV_FRONTEND is not set
# CONFIG_RAID_ATTRS is not set
# CONFIG_BLK_DEV_SD is not set
# CONFIG_BLK_DEV_BSG is not set
# CONFIG_SCSI_SAS_ATTRS is not set
# CONFIG_SCSI_SAS_LIBSAS is not set
# CONFIG_SCSI_LOWLEVEL is not set
# CONFIG_ATA is not set
# CONFIG_MD is not set
# CONFIG_NETDEVICES is not set
# CONFIG_INPUT_FF_MEMLESS is not set
# CONFIG_INPUT_MATRIXKMAP is not set
# CONFIG_INPUT_EVDEV is not set
# CONFIG_INPUT_TOUCHSCREEN is not set
# CONFIG_INPUT_MISC is not set
# CONFIG_SERIAL_8250_DW is not set
# CONFIG_SERIAL_AMBA_PL011 is not set
# CONFIG_SERIAL_XILINX_PS_UART is not set
# CONFIG_SERIAL_FSL_LPUART is not set
# CONFIG_SERIAL_FSL_LINFLEXUART is not set
# CONFIG_HVC_XEN is not set
# CONFIG_VIRTIO_CONSOLE is not set
# CONFIG_IPMI_HANDLER is not set
# CONFIG_SPMI is not set
# CONFIG_PTP_1588_CLOCK is not set
# CONFIG_GPIO_MAX732X is not set
# CONFIG_GPIO_PCA953X is not set
# CONFIG_BATTERY_SBS is not set
# CONFIG_BATTERY_BQ27XXX is not set
# CONFIG_BATTERY_MAX17042 is not set
# CONFIG_CHARGER_BQ25890 is not set
# CONFIG_CHARGER_BQ25980 is not set
# CONFIG_THERMAL is not set
CONFIG_MFD_CORE=n
# CONFIG_MFD_BD9571MWV is not set
# CONFIG_MFD_AXP20X_I2C is not set
# CONFIG_MFD_HI6421_PMIC is not set
# CONFIG_MFD_MAX77620 is not set
# CONFIG_MFD_MT6360 is not set
# CONFIG_MFD_MT6397 is not set
# CONFIG_MFD_RK8XX_I2C is not set
# CONFIG_MFD_SEC_CORE is not set
# CONFIG_MFD_TPS65219 is not set
# CONFIG_MFD_WM8994 is not set
# CONFIG_MFD_ROHM_BD718XX is not set
# CONFIG_MFD_STM32_LPTIMER is not set
# CONFIG_MFD_VEXPRESS_SYSREG is not set
# CONFIG_REGULATOR_FAN53555 is not set
# CONFIG_REGULATOR_MP8859 is not set
# CONFIG_REGULATOR_PCA9450 is not set
# CONFIG_REGULATOR_PF8X00 is not set
# CONFIG_REGULATOR_PFUZE100 is not set
# CONFIG_REGULATOR_RAA215300 is not set
# CONFIG_REGULATOR_TPS65132 is not set
# CONFIG_REGULATOR_VCTRL is not set
# CONFIG_RC_CORE is not set
# CONFIG_MEDIA_SUPPORT is not set
# CONFIG_FB is not set
# CONFIG_BACKLIGHT_CLASS_DEVICE is not set
# CONFIG_SOUND is not set
# CONFIG_MMC_SDHCI is not set
# CONFIG_MMC_DW is not set
# CONFIG_MMC_MTK is not set
# CONFIG_SCSI_UFSHCD is not set
# CONFIG_NEW_LEDS is not set
# CONFIG_EDAC is not set
# CONFIG_RTC_CLASS is not set
# CONFIG_FSL_EDMA is not set
# CONFIG_MV_XOR_V2 is not set
# CONFIG_PL330_DMA is not set
# CONFIG_QCOM_HIDMA_MGMT is not set
# CONFIG_QCOM_HIDMA is not set
# CONFIG_SYNC_FILE is not set
# CONFIG_VFIO is not set
# CONFIG_XEN_BALLOON is not set
# CONFIG_XEN_DEV_EVTCHN is not set
# CONFIG_XEN_BACKEND is not set
# CONFIG_XENFS is not set
# CONFIG_XEN_SYS_HYPERVISOR is not set
# CONFIG_XEN_GNTDEV is not set
# CONFIG_XEN_GRANT_DEV_ALLOC is not set
# CONFIG_XEN_PRIVCMD is not set
# CONFIG_STAGING is not set
# CONFIG_CHROME_PLATFORMS is not set
# CONFIG_HWSPINLOCK is not set
# CONFIG_REMOTEPROC is not set
# CONFIG_RPMSG_QCOM_GLINK_RPM is not set
# CONFIG_RPMSG_VIRTIO is not set
# CONFIG_SOUNDWIRE is not set
# CONFIG_PM_DEVFREQ is not set
# CONFIG_EXTCON is not set
# CONFIG_MEMORY is not set
# CONFIG_IIO is not set
# CONFIG_PWM is not set
# CONFIG_NVMEM_RMEM is not set
# CONFIG_NVMEM_STM32_ROMEM is not set
# CONFIG_NVMEM_STM32_TAMP is not set
# CONFIG_STM is not set
# CONFIG_FPGA is not set
CONFIG_MULTIPLEXER=m
CONFIG_MUX_MMIO=m
# CONFIG_SLIMBUS is not set
# CONFIG_INTERCONNECT is not set
# CONFIG_COUNTER is not set
# CONFIG_HTE is not set
# CONFIG_EXT2_FS is not set
# CONFIG_EXT3_FS is not set
CONFIG_EXT4_USE_FOR_EXT2=y
# CONFIG_BTRFS_FS is not set
# CONFIG_AUTOFS_FS is not set
# CONFIG_FUSE_FS is not set
# CONFIG_OVERLAY_FS is not set
# CONFIG_QRTR is not set
# CONFIG_WIRELESS is not set
# CONFIG_FAILOVER is not set
# CONFIG_PPS is not set
# CONFIG_MAILBOX is not set
# CONFIG_DEBUG_MISC is not set
