/home/gpaga/OSTL_v6.0/DEVELOPER_PKG_DEMO/stm32mp2-openstlinux-6.6-yocto-scarthgap-mpu-v24.11.06/sources/aarch64-ostl-linux/STM32MPU-OSTL-DEV-helper/DEVICETREE/STM32MP25x_CubeMX/CA35/DeviceTree//ev1-v6.0/tf-a/stm32mp257f-ev1-v6.0-mx-rcc.dtsi